.footer {
    min-height: 10vh;
    /* min-height: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    /* justify-content: flex-start; */
    font-size: calc(10px + 2vmin);
    color: rgb(7, 7, 7);
    margin-left: 100px;
    margin-right: 0px;
    font-size: small;
  }
  
  .img-footer {
    height: 30px;
    width: auto;
    padding-right: 20px;
  }

  .Initiative79 {
    padding-bottom: 10px;
  }

  .mentionsLégales {
    display: flex;
    /* align-content: center; */
    font-size:smaller;
  }